/memory-recall/.classpath
/memory-recall/.gitignore
/memory-recall/.project
/memory-recall/.settings/.jsdtscope
/memory-recall/.settings/org.eclipse.core.resources.prefs
/memory-recall/.settings/org.eclipse.jdt.core.prefs
/memory-recall/.settings/org.eclipse.m2e.core.prefs
/memory-recall/.settings/org.eclipse.wst.common.component
/memory-recall/.settings/org.eclipse.wst.common.project.facet.core.xml
/memory-recall/.settings/org.eclipse.wst.jsdt.ui.superType.container
/memory-recall/.settings/org.eclipse.wst.jsdt.ui.superType.name
/memory-recall/.settings/org.eclipse.wst.validation.prefs
